@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Grayish-blue);
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
.container{
    width: 280px;
    height: 450px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container img{
    width: 100%;
    border-radius: 10px;
}
.container > p, h3{
    color: var(--Dark-blue);
}
@media only screen and (max-height: 414px){
    body{
        gap: 1rem;
    }
    .container{
        width: 250px;
        height: 400px;
        margin-top: 2rem;
    }
    .container > p{
        font-size: 14px;
    }
}


.attribution {
  font-size: 13px;
  text-align: center;
  color: white;

}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
  color: rgb(31, 41, 229);
}
